{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h1>inside twig</h1>
    
    {% trans %}Symfony is great{% endtrans %}{{s}}{% trans %}Symfony is great{% endtrans %}<br>
        {% trans %}%s%{% endtrans %}<br>
{% endblock %}